{% extends 'base.html' %}

{% block header %}
	<div class='block15'>
		<nav id="nav_buttons_wrapper">
		</nav>
	</div>
	<div class='block9'>
	</div>
{% endblock %}

{% block below_header %}
	<div class='block15'>
		<article id='logo_and_slogan_wrapper'>
			<div id='logo_section'>
				<span class='logo1_big'>u</span><span class='logo2_big'>Fundy</span><span class='section_Logo'>Admin</span>
			</div>
		</article>
	</div>

	<div class='block9'>
		<div class='ta_right' id='nav_buttons_wrapper'>
			<a href='{{login_url}}' class='button'>Login Here</a>
		</div>
	</div>
{% endblock %}

{% block full_page %}
	<div class='column_container'>
		<article>
			<div class='block12'>
			</div>
			<div class='block12'>
			</div>
		</article>
	</div>
{% endblock %}

{% block above_footer %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block below_footer %}
{% endblock %}

{% block scripts %}
{% endblock %}